$primary-color: #5FBF77;
$white-color:  #FFFFFF;
$black-color:  #39414B;
$border-color:  #CFCFE4;
$base-font-size: 18px;
$base-weight: 800;
$base-border-radius: 18px;
$base-box-shadow: 0px 10px 13px -4px #23235F30;

